[submodule "l10n_co_payroll"]
	path = l10n_co_payroll
	url = git@github.com:Pragmatic-Colombia/l10n_co_payroll.git
	branch = 15.0
[submodule "l10n_co_base"]
	path = l10n_co_base
	url = git@github.com:Pragmatic-Colombia/l10n_co_base.git
	branch = develop-15.0
